*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

body{
    background-image: url(../img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

aside{
    padding: 2rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.texto-footer{
    color: var(--clr-gray);
    font-size: 0.85rem;
}

.titulo-principal{
    margin-bottom: 2rem;
    color: rgb(76, 76, 223);
}

main{
    background-color: rgba(0,0,0,0.6);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-img{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-info{
    background-color: rgb(76, 76, 223);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid white;
    margin-top: 5px;
}

.producto-agregar:hover{
    background-color: rgb(76, 76, 223);
    transition: 0.5s;
    color: white;
    font-weight: 600;
}

.boton-menu{
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
}

.boton-menu.active{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bi-hand-index-thumb-fill,.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}

/**CARRITO**/
.carrito-vacio{
    color: white;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    border-radius: 1rem;
    padding: 0.3rem;
    color: white;
    font-weight: 800;
}

.carrito-img{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: 0.75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    font-size: 1.5rem;
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    gap: 1rem;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: rgb(76, 76, 223);
    color: white;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-transform: uppercase;
}

.carrito-comprado{
    color: white;
}

.disabled{
    display: none;
}

.numero-carrito{
    background-color: white;
    color: black;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}

